<ul>
  <% @bookmarks.each do |bookmark| %>
    <font color="red"><li><%= bookmark %></li></font>
  <% end %>
</ul>
<html>
<body background="https://i.pinimg.com/originals/30/43/12/30431252bfb916c5700f78483c09074e.jpg">
</body>
</html>
